<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Seny: Gestión documental para grupos.</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <!-- <link rel="stylesheet" href="/css/markdown.css"> -->
  <!-- <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css"> -->
  <link rel="stylesheet" href="/css/mi-markdown.css">
  <style>
    @media print {
      .no-print,
      .no-print * {
        display: none !important;
      }
    }

    .tag {
      margin: .2em;
      cursor: pointer;
    }

    /* https://www.w3schools.com/cssref/css_default_values.asp */

    .block {
      margin: 1em;
    }

    .hero {
      margin-bottom: 1em;
    }

    .invisible {
      display: none;
    }

    .card {
      margin-bottom: 1em;
    }

    .floatButton {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 20px;
      right: 20px;
      background-color: rgba(10, 50, 255, 0.9);
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      vertical-align: middle;
      box-shadow: 2px 2px 3px #999;
    }

    .notificacion {
      position: fixed;
      z-index: 1000;
      top: 40px;
      right: 40px;
    }
  </style>
</head>

<body>

  <div id="app">

    <div v-show="estado === 'login'">

      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
              <i>Seny</i>
            </h1>
            <h2 class="subtitle" style="margin-top: .1em;">
              Control de acceso
            </h2>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="columns">

          <div class="column"></div>

          <div class="column is-4">

            <div class="block">
              <div class="field">
                <label class="label">Usuario</label>
                <div class="control">
                  <input v-model="usuario" @keyup.enter="validar()" class="input" type="text" placeholder="Usuario">
                </div>
              </div>
            </div>

            <div class="block">
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input type="password" @keyup.enter="validar()" v-model="password" class="input" type="text" placeholder="Password">
                </div>
              </div>
            </div>

            <div class="block">
              <p class="control is-pulled-right">
                <a id="guardar-mensaje-btn" class="button is-info" @click="validar()">
                  Validar
                </a>
              </p>
            </div>

          </div>

          <div class="column"></div>

        </div>




      </div>
      <!-- container -->

    </div>
    <!-- Login -->

    <div v-show="estado === 'showAll'">

      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <a @click="showAll()" title="Mostrar todos los documentos">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                <i>Seny</i>
              </a>
            </h1>
            <h2 class="subtitle" style="margin-top: .1em;">
              <div class="field has-addons">
                <div class="control">
                  <input v-model="buscador" class="input" type="text" placeholder="Encontrar documento">
                </div>
                <div class="control">
                  <a class="button is-warning">
                    Buscar
                  </a>
                </div>
              </div>
            </h2>
            <a @click="logout()" title="Salir" class="is-size-7 is-pulled-right">Cerrar sesión @{{usuario}}</a>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="block" id="tablon">
          <div v-for="registro in vista" class="card">
            <header class="card-header">
              <p class="card-header-title">
                <a title="Abrir documento" @click="getDocument(registro.id)">[#{{registro.id}}] {{registro.titulo}}</a>
              </p>
              
              <span title="Está validado" @click="getDocument(registro.id)" v-show="registro.validadoPor!=='Sin validar'" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i style="color: blue;" class="fa fa-certificate is-size-4" aria-hidden="true"></i>
                </span>
              </span>

              <a v-show="registro.autor.trim()=='@'+usuario.trim()" class="card-header-icon" aria-label="more options">
                <span class="icon" title="Editar documento" @click="editDocument(registro.id)">
                  <i class="fa fa-pencil is-size-4" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <span class="is-pulled-left" style="font-size: .8em;">
                  <a title="Mostrar documentos de este autor" @click="filter(registro.autor)">{{registro.autor}}</a>
                </span>
                <span class="is-pulled-right" style="font-size: .8em;">
                  <em>Creado {{moment(registro.createdAt,"YYYY-MMDD h:mm").fromNow()}}</em>
                </span>
                <br>
                <strong>
                  <em>Síntomas:</em>
                </strong>
                <br>
                <div style="margin-left: 2em;" v-html="SimpleMDE.prototype.markdown(registro.sintomas)"></div>

                <br>
                <span class="is-pulled-right" style="font-size: .8em;">
                  <em>Última actualización {{moment(registro.updatedAt,"YYYY-MMDD h:mm").fromNow()}}</em>
                </span>
                <hr>
                tags: <a title="Filtrar por etiqueta" @click="filter(tag)" v-for="tag in registro.etiquetas.split(', ')">{{tag}} </a>
                
                
              </div>
            </div>
            <footer class="card-footer">
              <span  title="Votos positivos" class="card-footer-item"><span style="font-size: 1em; margin-right: .4em;">{{registro.likes.length}} </span> <i class="fa fa-thumbs-up is-size-4" aria-hidden="true" style="color: blue;"></i></span>
              <span  title="Comentarios" class="card-footer-item"><span style="font-size: 1em; margin-right: .4em;">{{registro.comentarios.length}} </span> <i style="color: blue;" class="fa fa-commenting is-size-4" aria-hidden="true"></i></span>
            </footer>
          </div>
        </div>
        
        <div v-show="vista.length==0" class="block is-size-4">No se ha encontrado ningún documento</div>

        <a title="Crear documento" class="floatButton" @click="createDocument()">
          <i class="fa fa-plus" style="margin-top: 1em; font-size: 1.3em;"></i>
        </a>

      </div>
      <!-- container -->

    </div>
    <!-- showAll -->


    <div v-show="estado === 'upsertDocument'">

      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <a @click="questionExitFromInsert()" title="Volver">
              <h1 class="title">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                <i>Seny</i>
              </h1>
            </a>
            <h2 class="subtitle" style="margin-top: .1em;">
              {{titulo_ventana}}
            </h2>
            <a @click="logout()" title="Salir" class="is-size-7 is-pulled-right">Cerrar sesión @{{usuario}}</a>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="block" style="margin-top: 1em;">

          <div v-show="titulo_ventana==='Editar documento'">[#{{registro_actual.id}}]</div>
          <button v-show="titulo_ventana==='Editar documento' && registro_actual.autor.trim()=='@'+usuario.trim()" title="Borrar documento" class="delete is-pulled-right"
            @click="deleteRecord(registro_actual.id, '@'+usuario.trim())"></button>


          <div class="field">
            <label class="label">Qué soluciona este documento? *</label>
            <div class="control">
              <input v-model="registro_actual.titulo" class="input" type="text" name="titulo" id="titulo" placeholder="Nombre del documento"
                required>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="field">
            <label class="label">Tiene alguna incidencia relacionada?</label>
            <div class="control">
              <input v-model="registro_actual.incidencias" class="input" type="text" name="indicencias" id="indicencias" placeholder="Códigos de incidencias relacionadas">
            </div>
          </div>
        </div>

        <div class="block">
          <div class="field">
            <label class="label">Documento validado?</label>
            <div class="control is-expanded">
              <div class="field">
                <p class="control has-icons-left">
                  <span class="select is-fullwidth">
                    <select v-model="registro_actual.validadoPor">
                      <option selected>Sin validar</option>
                      <option v-for="validador in validadores">{{validador}}</option>
                      
                    </select>
                  </span>
                  <span class="icon  is-left">
                    <i class="fa fa-certificate"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="block">
          <label class="label">Clasifica el documento *</label>
          <div class="box">
            <div class="field">

              <div class="control">
                <input v-model="registro_actual.etiquetas" class="input" type="text" id="etiquetas" name="etiquetas" placeholder="etiqueta1, etiqueta2"
                  required>
              </div>
            </div>

            <i>Etiquetas existentes: </i>

            <div id="etiquetero">
              <span v-for="tag in tags" class="tag is-warning" style="margin: .5em;" @click="addTag(tag)">{{tag}}</span>
            </div>


          </div>
        </div>
        <div class="block">
          <label class="label">Síntomas *</label>
          <sintomas name='sintomas'></sintomas>
        </div>
        <div class="block">
          <label class="label">Procedimiento *</label>
          <procedimiento name='procedimiento'></procedimiento>

        </div>

        

        

        <div class="block">
          <div class="level is-mobile">
            <div class="level-left">
              <p class="control">
                <a id="cancelar-mensaje-btn" class="button is-warning" @click="questionExitFromInsert()">
                  Volver atrás
                </a>
              </p>
            </div>


            <div class="level-right">
              <p class="control">
                <a id="guardar-mensaje-btn" class="button is-info" @click="upsertRecord()">
                  Guardar
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- container -->

    </div>
    <!-- upsertDocument -->


    <div v-show="estado=='showDocument'">

      <section class="hero is-info no-print">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <a @click="goBack()" title="Volver">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                <i>Seny</i>
              </a>
            </h1>
            <h2 class="subtitle" style="margin-top: .1em;">
              Mostrar documento
            </h2>
            <a @click="logout()" title="Salir" class="is-size-7 is-pulled-right">Cerrar sesión @{{usuario}}</a>
          </div>
        </div>
      </section>

      <div class="container">



        <div id="markdown" style="margin: .5em;">



          <strong>
            <span class="is-size-4">Título: </span>
          </strong>
          [#{{registro_actual.id}}] {{registro_actual.titulo}}
          <br>
          <strong>
            <span class="is-size-4">Incidencia/s: </span>
          </strong>
          {{registro_actual.incidencias}}
          <br>
          <strong>
            <span class="is-size-4">Autor: </span>
          </strong>
          {{registro_actual.autor}}
          <br>
          <strong>
            <span class="is-size-4">Validado por: </span>
          </strong>
          {{registro_actual.validadoPor}}
          <br>
          <strong>
            <span class="is-size-4">Etiqueta/s: </span>
          </strong>
          {{registro_actual.etiquetas}}
          <br>
          <strong>
            <span class="is-size-4">Síntomas: </span>
          </strong>
          <div style="margin-top: .5em;" v-html="SimpleMDE.prototype.markdown(registro_actual.sintomas)"></div>
          <strong>
            <span class="is-size-4">Procedimiento: </span>
          </strong>
          <div style="margin-top: .5em;" v-html="SimpleMDE.prototype.markdown(registro_actual.procedimiento)"></div>

        </div>
        <!-- markdown -->

        <br>
        <p class="control" style="margin: .5em;">
          <a class="button is-warning no-print" @click="goBack()">
            Volver atrás
          </a>
        </p>


        <div class="block no-print">
          
          <div class="is-size-7"><strong>Compartir link:</strong> {{url.origin+url.pathname+'?doc='+convertToSlug(registro_actual.titulo.trim())}}</div>
          <hr>
          <span class="is-pulled-right" style="font-size: 1em; margin-right: .4em;">¿Te resulta útil? <a @click="insertLike(registro_actual.autor, usuario)"><i class="fa fa-thumbs-up is-size-4" aria-hidden="true" style="color: blue;"></i></a></span>
          <div class="field">
            <label class="label">¿Tienes algo que decir?</label>

            <textarea class="textarea" v-model="comentario" placeholder="Escribe tu comentario"></textarea>

          </div>
          <p v-show="comentario.trim()!=''" class="control is-pulled-right" style="margin: .5em;">
            <a class="button is-info no-print" @click="insertComment()">
              Enviar comentario
            </a>

          </p>

          <br>
          <br>

          <div v-show="registro_actual.comentarios.length>0" class="is-size-4">COMENTARIOS</div>

          <div v-for="comentario in registro_actual.comentarios" class="notification no-print is-blue" style="margin: 1em; ">
            <button v-show="'@'+usuario == comentario.autor" class="delete" @click="deleteComment(comentario.id)"></button>
            <p class="is-size-7">de <strong>{{comentario.autor}}</strong> {{moment(comentario.createdAt,"YYYY-MMDD h:mm").fromNow()}}</p>
            {{comentario.mensaje}}
          </div>

        </div>



      </div>
      <!-- container -->

    </div>
    <!-- showDocument -->

    <!-- modales -->

    <div v-if="errorMessage!==''" class="modal is-active" id="msgBox" @click="errorMessage=''">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Error</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div style="margin-left: 2em;" v-html="errorMessage"></div>
        </section>
      </div>
    </div>

    <div v-if="notificacion!==''" class="notification notificacion is-link">
      <!-- <button class="delete"></button> -->
      <div v-html="notificacion"></div>
    </div>

    <div v-if="confirmacion!==''" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Ventana de confirmación</p>
          <button class="delete" aria-label="close" @click="confirmacion=''"></button>
        </header>
        <section class="modal-card-body">
          <div v-html="confirmacion"></div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="exitFromInsert()">Salir</button>
          <button class="button" @click="confirmacion=''">Cancelar</button>
        </footer>
      </div>
    </div>

    <!-- fin-modales -->



  </div>
  <!-- app -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/es.js"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  
  <script>

    moment.locale('es');
    
    let myGlobal = {};
    Vue.component('sintomas', {
      template: `<textarea id="sintomas" cols="30" rows="10" required placeholder='Cuándo lo hago?'></textarea>`,
      props: ['name'],
      mounted() {
        myGlobal[this.name] = new SimpleMDE({ element: document.getElementById('sintomas'), spellChecker: false });
      }
    });
    Vue.component('procedimiento', {
      template: `<textarea id='procedimiento' cols='30' rows='10' required placeholder='Cómo lo hago?'></textarea>"`,
      props: ['name'],
      mounted() {
        myGlobal[this.name] = new SimpleMDE({ element: document.getElementById(this.name), spellChecker: false });
      }
    });
    // estados: [showAll|upsertDocument|showDocument|login]
    let App = new Vue({
      el: '#app',
      data: {
        estado: 'showAll',
        errorMessage: '',
        notificacion: '',
        confirmacion: '',
        titulo_ventana: '',
        registroHash: '',
        buscador: '',
        usuario: '',
        password: '',
        comentario: '',
        url_required: '',
        validadores: ["#validador1", "#validador2", "#validador3"],
        url: {},
        registro_actual: {
          id: -1,
          titulo: '',
          incidencias: '',
          etiquetas: '',
          validadoPor: '',
          sintomas: '',
          procedimiento: '',
          comentarios: [],
          autor: ''
        },
        tags: ["mga", "silo", "recepcion", "otro", "ay"],
        registros: [
        {
    "id": 1000,
    "incidencias": "4b17070a-86bb-474f-9e39-8b4113adcd3c",
    "validadoPor": "#validador1",
    "sintomas": "Dolores libero ea voluptatem voluptas ut. Unde ipsum maiores deleniti error dolorem ducimus repudiandae et vel. Eos delectus voluptas beatae. Eos debitis quasi dolorum doloremque et magnam est soluta. Dolores nihil ut.<li>Libero necessitatibus suscipit et aut est.</li><li>Earum doloribus ut suscipit laborum et magnam aut.</li>",
    "procedimiento": "<p>Nihil omnis atque eum quas quasi sint. Iure ut reiciendis aperiam aperiam ipsa aut. Eaque consectetur temporibus voluptate et qui amet totam et aut. Molestiae sed nostrum et. Sunt minima cupiditate nostrum rerum earum et quibusdam. Quo aperiam sapiente molestiae.</p><p><pre>Deleniti sint quia qui architecto dolores quam sit.\nDicta facere voluptates fugiat quam.</pre></p>",
    "titulo": "Libero unde dolorum.",
    "etiquetas": "#porro, #quis",
    "autor": "@Olga40",
    "likes": ["@Thea94","@Ryleigh.Adams","@Darrel90"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Leonel_Barrows",
        "mensaje": "Quia eveniet perferendis. Est cum ea sed ducimus eos impedit est non. Pariatur placeat laboriosam omnis magni.",
        "createdAt": "2017-07-08 20:02"
      },
      {
        "id": 2,
        "autor": "@Rylan_Zemlak",
        "mensaje": "At omnis adipisci voluptatem et laudantium. Corrupti voluptatem ullam sunt unde placeat. Consectetur atque minima ut earum. Ut voluptatem quod aliquid aut.",
        "createdAt": "2017-11-06 08:37"
      }
    ],
    "createdAt": "2017-03-01 10:58",
    "updatedAt": "2018-01-19 06:54"
    },{
    "id": 1001,
    "incidencias": "ceedbc99-2fad-48c8-975d-bbe966b27ec7",
    "validadoPor": "Sin validar",
    "sintomas": "Odio laudantium cupiditate ex. Corrupti molestiae et sed. Vitae consectetur qui beatae quisquam sint nam et a. Omnis sint dolorem. Beatae id earum aspernatur dolorem totam qui. Dicta alias neque rerum placeat quasi cupiditate illum voluptatibus in.<li>Qui et explicabo.</li><li>Soluta expedita dignissimos.</li>",
    "procedimiento": "<p>Sunt ut cupiditate et perspiciatis. Ut at suscipit. Quia voluptate nostrum nobis et aut ut blanditiis dicta adipisci. Maiores minus harum.</p><p><pre>Ipsa inventore natus velit laboriosam fugit.\nQuos omnis eum.</pre></p>",
    "titulo": "Odio iure magnam dolor laboriosam quae molestias voluptatum optio.",
    "etiquetas": "#assumenda, #hic",
    "autor": "@Elza8",
    "likes": ["@Karen_Mosciski","@Piper_Russel","@Ebba.Grimes"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Carmel53",
        "mensaje": "Rerum natus saepe ut ab enim nam veniam a nisi. Debitis placeat rerum laborum. Sit et qui iure at reiciendis.",
        "createdAt": "2017-10-15 14:23"
      },
      {
        "id": 2,
        "autor": "@Noemie_Becker21",
        "mensaje": "Dolorem corporis earum quia. Nihil totam in expedita magni. Mollitia deleniti commodi expedita itaque non eaque distinctio. Aut qui quibusdam. Non laborum sint itaque itaque fugit ut a tempore doloremque.",
        "createdAt": "2017-03-28 04:23"
      }
    ],
    "createdAt": "2017-06-04 00:37",
    "updatedAt": "2017-03-26 21:37"
    },{
    "id": 1002,
    "incidencias": "a0662199-4d9f-49e6-a11a-d94d49ecb101",
    "validadoPor": "Sin validar",
    "sintomas": "Et sunt temporibus et quam tenetur. Aliquid ut ratione quo. Possimus non et sit laborum consequatur at et exercitationem. Accusamus earum libero quod asperiores eum reprehenderit. Esse quasi quo at qui asperiores. Accusamus dicta eveniet.<li>Necessitatibus nesciunt non sint quas fugit consequatur nostrum sunt.</li><li>Quo eum qui quibusdam earum magnam alias numquam quas.</li>",
    "procedimiento": "<p>Sequi accusamus quo velit perferendis minus. Minus ut cum iusto. Nostrum ut repellat maxime quia vero.</p><p><pre>Ut nisi soluta.\nRepellat blanditiis et rerum quis rerum molestiae.</pre></p>",
    "titulo": "Velit alias vel.",
    "etiquetas": "#error, #voluptatibus",
    "autor": "@Hilbert_McKenzie",
    "likes": ["@Bella1","@Myah.Graham","@Assunta.Thompson99"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Issac89",
        "mensaje": "Provident et voluptatem omnis. Et ut et voluptatem provident ut in odit. Repudiandae non id nisi esse ab et. Recusandae quibusdam enim.",
        "createdAt": "2017-08-22 20:48"
      },
      {
        "id": 2,
        "autor": "@Jeramy_Effertz",
        "mensaje": "Suscipit architecto rem enim quod suscipit sunt tenetur vel iusto. Et nihil quas eum. Sit aut commodi aut dolores nobis.",
        "createdAt": "2017-12-04 19:30"
      }
    ],
    "createdAt": "2017-02-21 12:53",
    "updatedAt": "2017-03-20 07:56"
    },{
    "id": 1003,
    "incidencias": "004a87e6-1b8b-459d-9322-6a297d3bb06d",
    "validadoPor": "Sin validar",
    "sintomas": "Impedit qui quae eligendi facere magni et temporibus id ut. Voluptatem maxime consequatur consequatur et placeat perspiciatis ut. Non labore totam autem molestiae in minima tenetur numquam. Inventore culpa laborum rem vitae dicta. Totam similique cumque quia aliquam et in.<li>A odio aut autem et non ratione voluptatum doloremque.</li><li>Sit nostrum soluta similique quam mollitia nobis facilis non.</li>",
    "procedimiento": "<p>Beatae illo occaecati autem voluptas ut inventore tenetur at quia. Et iste necessitatibus dolorem vitae et vel fugiat. Voluptatem minima quibusdam maxime quia et doloremque facilis ipsum. In nobis minima et sit optio quis voluptate corrupti.</p><p><pre>Dolorem animi provident corrupti temporibus sunt explicabo praesentium possimus sapiente.\nDignissimos tempora quibusdam pariatur omnis non non et nesciunt.</pre></p>",
    "titulo": "Id qui eum.",
    "etiquetas": "#voluptas, #et",
    "autor": "@Claudia_Williamson",
    "likes": ["@Elena54","@Valentin.Wiza","@Mitchell75"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Noel_Dickinson",
        "mensaje": "Harum sed eos nihil omnis ea animi voluptatibus esse. Odit exercitationem nihil veritatis error quisquam impedit ut. Doloremque ipsam in a voluptatem. Labore eum aut facilis sit quod enim.",
        "createdAt": "2018-01-29 07:07"
      },
      {
        "id": 2,
        "autor": "@Corene81",
        "mensaje": "Molestiae vel officiis voluptas dolorum eaque repellendus minima labore. Et unde labore iure quia et quo. Rem commodi in qui debitis et est commodi. Optio rerum et totam aut molestiae fugiat non vero quis. Minus aut et aut sunt. Nemo ex sed et enim maxime.",
        "createdAt": "2017-05-19 10:52"
      }
    ],
    "createdAt": "2017-05-25 10:59",
    "updatedAt": "2017-06-25 10:45"
    },{
    "id": 1004,
    "incidencias": "66a31c98-c039-406a-9ec3-691d54577ead",
    "validadoPor": "Sin validar",
    "sintomas": "Qui id enim. Debitis voluptates quia voluptate. Magni corrupti neque. Quibusdam amet soluta qui. Sit provident id quibusdam dolores sit repellat et inventore. Quo ab eveniet dolor eligendi fugiat quasi ut excepturi aut.<li>Voluptas et maxime facere rem nihil dolorem.</li><li>Nisi vitae perspiciatis quia qui repellendus ipsa id.</li>",
    "procedimiento": "<p>Reiciendis delectus velit consequatur impedit. Eveniet expedita possimus. Aut recusandae voluptatem. Omnis commodi vel.</p><p><pre>Nam atque molestiae.\nAut tempora aut nulla velit dicta maxime optio nemo.</pre></p>",
    "titulo": "Occaecati nam alias.",
    "etiquetas": "#accusantium, #occaecati",
    "autor": "@Devon.King45",
    "likes": ["@Mercedes_Thiel54","@Lloyd10","@Casandra55"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Marietta_Koch",
        "mensaje": "Cumque ratione optio quisquam. A debitis rem eius vitae deserunt fuga iure. Cum dolor aut qui hic veritatis.",
        "createdAt": "2017-04-24 23:38"
      },
      {
        "id": 2,
        "autor": "@Wava73",
        "mensaje": "Perferendis necessitatibus facere et. Qui quia saepe. Eius ipsum ducimus consequatur at aliquid voluptatum qui quia. Omnis dignissimos amet.",
        "createdAt": "2017-10-07 01:00"
      }
    ],
    "createdAt": "2017-11-13 19:33",
    "updatedAt": "2017-02-23 18:49"
    },{
    "id": 1005,
    "incidencias": "b98ccd06-e29e-4979-a45a-b4a75510558a",
    "validadoPor": "Sin validar",
    "sintomas": "Dolor quaerat enim. Aut nihil aliquam amet et consequatur aut. Nisi recusandae ut. Non rerum voluptatem ut quia.<li>Sit dolor quis.</li><li>Ab quae possimus iure repudiandae quam quasi.</li>",
    "procedimiento": "<p>Odit minima eos sint eius. Officiis dicta harum qui provident asperiores quis praesentium sint aspernatur. Sunt tempore sit ut consequatur. Laboriosam explicabo ea voluptate ratione incidunt ratione omnis saepe. Et dolorem praesentium tempora ad reprehenderit beatae. Velit vel fugit non et illum voluptate rem vitae rerum.</p><p><pre>Ratione ea sint quidem quasi minus qui modi quos qui.\nVoluptatibus consequatur et consequatur praesentium perferendis.</pre></p>",
    "titulo": "Qui sed illum molestias.",
    "etiquetas": "#officia, #explicabo",
    "autor": "@Leora57",
    "likes": ["@Reva_Collier","@Raoul86","@Einar_OConnell"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Kira.Koelpin5",
        "mensaje": "Voluptatem sed voluptatem dolores ad fugiat ipsa alias. Dolore molestias itaque quis enim rem commodi ab eius exercitationem. Nostrum tempore non. Sapiente maiores quisquam quasi rerum. Laudantium perferendis rerum quis delectus quis sint corrupti.",
        "createdAt": "2018-01-19 11:32"
      },
      {
        "id": 2,
        "autor": "@Colby50",
        "mensaje": "Autem illo delectus illo similique omnis laborum. Non dolor praesentium autem sed quasi aperiam suscipit sed. Dolorem non doloremque occaecati quia culpa exercitationem saepe aut. Quis illum adipisci dolore magni nobis dignissimos cupiditate est qui. Nisi at nisi et minima corporis soluta voluptatem maxime numquam.",
        "createdAt": "2017-10-05 09:49"
      }
    ],
    "createdAt": "2017-02-11 23:53",
    "updatedAt": "2017-03-09 06:06"
    },{
    "id": 1006,
    "incidencias": "8b92d507-c899-46fe-b1c8-85302db921d0",
    "validadoPor": "Sin validar",
    "sintomas": "Neque earum qui est ut veritatis numquam inventore facere. Repudiandae sunt repudiandae repellat placeat delectus necessitatibus optio in. Molestiae nesciunt magnam voluptatibus nostrum qui facilis esse beatae.<li>Quis asperiores laudantium perspiciatis voluptates est minus voluptas eveniet minima.</li><li>Dignissimos perferendis dolore saepe repellendus ut consequatur.</li>",
    "procedimiento": "<p>Aut alias autem. Aut enim ex. Architecto ipsam veritatis voluptatem voluptatem cupiditate enim natus. Ut nihil qui sapiente aut delectus.</p><p><pre>Quos eveniet delectus aut quia quod eligendi.\nLibero eum cupiditate consequatur eos occaecati est.</pre></p>",
    "titulo": "Amet sint molestiae et commodi nisi quo.",
    "etiquetas": "#eos, #suscipit",
    "autor": "@Jett_McGlynn21",
    "likes": ["@Jacklyn46","@Lavinia_Jacobson","@Benedict_Rodriguez"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Nathan16",
        "mensaje": "Aspernatur sint dolor. Aut rem dolores error nobis laborum iste sed ut. Non nostrum culpa eius temporibus et itaque quia. Vero quia aliquid id laborum quia provident. Quos alias rerum molestiae unde necessitatibus perferendis dignissimos autem.",
        "createdAt": "2017-09-01 19:37"
      },
      {
        "id": 2,
        "autor": "@Yvonne.Weimann",
        "mensaje": "Animi harum qui hic et consequatur et est. Cum vitae quis suscipit asperiores deserunt. Accusamus aut qui perspiciatis et quos. Aut quia qui vitae accusamus nisi aut modi. Quam perspiciatis consequatur autem sequi voluptas neque delectus. Nesciunt delectus eveniet quasi et.",
        "createdAt": "2017-10-12 18:29"
      }
    ],
    "createdAt": "2017-11-17 02:39",
    "updatedAt": "2017-09-18 03:20"
    },{
    "id": 1007,
    "incidencias": "b142873a-51c7-4a36-af68-45f659234ad8",
    "validadoPor": "Sin validar",
    "sintomas": "Aspernatur quo animi dolores ut voluptatem beatae pariatur quo. Sed non quam aspernatur cumque. Doloribus deleniti aut. Placeat aut qui sint voluptatem aliquid id ratione. Odit deserunt sunt quia. Quasi et odio ipsam fugit molestias non.<li>Qui sit similique minus omnis voluptatum.</li><li>Aut autem dignissimos maiores quasi quis minus voluptatem.</li>",
    "procedimiento": "<p>Enim fugit ipsam maiores veritatis cupiditate alias voluptatibus fuga. Illum quae eos est. Eius provident aperiam voluptas illo. Suscipit vitae praesentium ut cupiditate laudantium sed. Magnam repellat fuga pariatur blanditiis placeat distinctio. Consectetur magni rerum quo dolor non distinctio.</p><p><pre>Explicabo enim et animi.\nEx ipsa officiis eaque et rerum.</pre></p>",
    "titulo": "Modi amet sit nemo aut.",
    "etiquetas": "#nisi, #aspernatur",
    "autor": "@Darwin.Pollich",
    "likes": ["@Allan63","@Elisa.Williamson44","@Art_Rippin90"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Kadin94",
        "mensaje": "Cumque quasi veritatis voluptates totam esse. Consectetur molestiae quibusdam ut enim ducimus nisi cum consequatur voluptas. Et et amet aut.",
        "createdAt": "2017-04-29 01:18"
      },
      {
        "id": 2,
        "autor": "@Ernestine71",
        "mensaje": "Est maiores commodi praesentium beatae. Est consectetur non est dignissimos totam dolorum ipsa inventore magni. Eligendi ut sit labore qui magni fugiat possimus quos. Ea deleniti non et odit rerum. Nihil harum quos fugit soluta fugiat numquam exercitationem harum ut.",
        "createdAt": "2017-07-17 16:21"
      }
    ],
    "createdAt": "2017-12-29 23:59",
    "updatedAt": "2017-12-24 18:11"
    },{
    "id": 1008,
    "incidencias": "cd8a723d-0424-4a5d-b34d-7715d056773d",
    "validadoPor": "Sin validar",
    "sintomas": "Eos incidunt quia. Dolorum impedit aut dignissimos explicabo qui reprehenderit voluptas. Exercitationem saepe esse. Enim non ea. Molestiae alias quia impedit.<li>Et quis molestiae numquam.</li><li>Beatae nobis ex incidunt quis praesentium magnam quaerat.</li>",
    "procedimiento": "<p>Eius ut omnis aut vitae magni aut. Sit qui neque nobis reprehenderit ullam. Illo fuga deleniti sequi aut aut. Dolor sed corrupti est eum est soluta placeat cum. Voluptas architecto eos.</p><p><pre>Velit ullam ut molestiae perspiciatis explicabo ex expedita sapiente molestiae.\nAut in voluptatem ut velit minima.</pre></p>",
    "titulo": "Rerum nemo quaerat dicta.",
    "etiquetas": "#nam, #unde",
    "autor": "@Buford_Fahey",
    "likes": ["@Issac85","@Noelia31","@Geo_Stanton"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Kira_Jast",
        "mensaje": "Amet delectus beatae consequatur quaerat quis vel voluptatibus deserunt veniam. Sunt et quia nostrum quo necessitatibus omnis atque aut. Cumque laboriosam occaecati minus magnam qui tempora.",
        "createdAt": "2017-09-06 19:50"
      },
      {
        "id": 2,
        "autor": "@Garnet31",
        "mensaje": "Eligendi delectus quia dolorum neque assumenda dolor et velit at. Totam quae impedit sed cupiditate. Ab inventore iusto voluptas totam cumque debitis aut sunt. Exercitationem impedit iste sint.",
        "createdAt": "2017-02-12 18:53"
      }
    ],
    "createdAt": "2017-04-03 18:56",
    "updatedAt": "2017-06-18 21:06"
    },{
    "id": 1009,
    "incidencias": "0ecf2ab8-a410-4288-98d8-7e5cfd1b8bcf",
    "validadoPor": "#validador1",
    "sintomas": "Tempora ad est odio. Consequuntur aut est adipisci voluptate laudantium illo. Nam sit assumenda eligendi numquam suscipit voluptatum.<li>Iste dolores dolores.</li><li>Et ut quidem.</li>",
    "procedimiento": "<p>Itaque recusandae odio occaecati optio iure non cumque eligendi. Veritatis animi recusandae illo sit nihil ducimus.</p><p><pre>Ut architecto voluptas quis.\nConsequatur doloremque aut itaque possimus ut vitae maxime hic omnis.</pre></p>",
    "titulo": "Id perspiciatis sit accusantium.",
    "etiquetas": "#veniam, #vitae",
    "autor": "@Myrtice_Walsh",
    "likes": ["@Selina_Bashirian","@Ashley47","@Marisa_Little15"],
    "comentarios": [
      {
        "id": 1,
        "autor": "@Mollie.Barton39",
        "mensaje": "Ipsam ut consequuntur libero consequuntur. Consequatur ipsa consequatur molestiae illum ab consequatur a eius aut. Quaerat eos repudiandae cum ullam deserunt recusandae non maxime. Ut ut beatae nisi non eaque. Aspernatur quod et non et saepe et illo temporibus.",
        "createdAt": "2017-09-21 16:06"
      },
      {
        "id": 2,
        "autor": "@Lavinia_Corwin77",
        "mensaje": "Cupiditate quis nihil incidunt et quia. Earum odit aut ea voluptatem sunt quas. Est quia eum ea expedita aut eaque iure aliquam voluptas. Quos est tenetur quos. Excepturi eos quasi magni sed reprehenderit non iusto explicabo in.",
        "createdAt": "2017-04-10 09:39"
      }
    ],
    "createdAt": "2017-09-19 15:22",
    "updatedAt": "2017-08-11 01:15"
    }
        ]
      },
      mounted() {
        this.tags = this.tags.sort();

        if (this.password !== this.usuario || this.password === '') {
          this.estado = 'login';
        }

        let url = new URL(window.location.href);
        this.url = url;
        if (url.search.trim().startsWith("?doc=")) {
          url = url.search.trim();
          url = url.substr(5, url.length - 5);
          this.url_required = url;
        } else {
          this.url_required = "";
        }     
        
        this.cleanTags();

         

      },
      computed: {
        vista: function () {
          //Trabajar más el buscador.
          if (this.buscador !== '') {

            let busca = this.buscador;
            busca = busca.toLowerCase().trim().split(" ");


            let filtro = _.filter(this.registros, function (o) {

              //return o.titulo.toLowerCase().includes(busca.toLowerCase());
              //return ''.concat(o.id,o.titulo,o.autor,o.etiquetas,o.incidencias,o.sintomas,o.procedimiento).toLowerCase().includes(busca.toLowerCase());

              let chivato = busca.length;

              for (let i = 0; i < busca.length; i++) {

                if (''.concat('#' + o.id, o.titulo, o.autor, o.etiquetas, o.incidencias, o.sintomas, o.procedimiento).toLowerCase().includes(busca[i])) chivato--;

              }

              return chivato === 0;


            });

            return _.orderBy(filtro, ['id'], ['desc']);

          } else {

            return _.orderBy(this.registros, ['id'], ['desc']);

          }
        }
      },
      methods: {
        insertLike(autor, usuario) {

          let x = this.registro_actual.id;

          let i = _.findIndex(this.registros, function (o) { return o.id == x; });

          if ('@' + this.usuario.trim() != this.registros[i].autor.trim()) {

            this.registros[i].likes.push('@' + this.usuario);
            this.registros[i].likes = _.uniq(this.registros[i].likes).sort().slice();

            this.notificacion = 'Gracias por tu voto! ;)';
            setTimeout(() => {
              this.notificacion = '';
            }, 2000);

          } else {
            this.notificacion = 'No puedes autovotarte';
            setTimeout(() => {
              this.notificacion = '';
            }, 2000);

          }

        },        
        convertToSlug(text) {

          let Text = text.toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, '-');

          Text = Text.replace(new RegExp(/[àáâãäå]/g), "a");
          Text = Text.replace(new RegExp(/[èéêë]/g), "e");
          Text = Text.replace(new RegExp(/[ìíîï]/g), "i");
          Text = Text.replace(new RegExp(/ñ/g), "ny");
          Text = Text.replace(new RegExp(/[òóôõö]/g), "o");
          Text = Text.replace(new RegExp(/[ùúûü]/g), "u");

          return Text;

        },
        cleanTags(){
          let resultado = [];
          for (let i=0; i<this.registros.length; i++) {   
            let arr = this.registros[i].etiquetas.replace(/#/g,"").split(",");
            for (ii=0;ii<arr.length;ii++) resultado.push(arr[ii].trim());            
          }
          //console.log(());
          this.tags=_.uniq(resultado).sort().slice();
          //for (i=0; i<resultado.length; i++) this.tags.push(resultado[i].trim());

          // this.notificacion = 'Gracias por comentar';
          // setTimeout(() => {
          //   this.notificacion = '';
          // }, 2000);
        },
        insertComment() {

          let x = this.registro_actual.id;

          let i = _.findIndex(this.registros, function (o) { return o.id == x; });


          let myComentario = {};

          try {
            myComentario.id = _.maxBy(this.registros[i].comentarios, 'id').id;
          } catch (e) {
            myComentario.id = 0;
          }

          myComentario.id++;


          myComentario.mensaje = this.comentario;
          myComentario.createdAt = this.now();
          myComentario.autor = '@' + this.usuario;


          this.registros[i].comentarios.push(myComentario);
          this.registro_actual.comentarios.push(myComentario);

          this.comentario = "";

          this.notificacion = 'Gracias por comentar';
          setTimeout(() => {
            this.notificacion = '';
          }, 2000);


        },
        deleteComment(id) {

          if (confirm("¿Deseas borrar el comentario?")) {

            let x = this.registro_actual.id;

            let i = _.findIndex(this.registros, function (o) { return o.id == x; });

            x = _.findIndex(this.registros[i].comentarios, function (o) { return o.id == id; });

            this.registros[i].comentarios.splice(x, 1);

            this.registro_actual.comentarios.splice(x, 1);

          }

        },
        now() {
          return moment().format().substr(0, 19).replace("T", " ");
        },
        logout() {
          this.usuario = "";
          this.password = "";
          this.estado = "login";
        },
        validar() {
          if (this.password === this.usuario && this.password !== '') {
            if (this.url_required == "") {
              //this.estado = 'showAll';
              this.showAll();
            } else {
              //alert("quiere ir a " + this.url_required);
              this.getDocumentBySlug(this.url_required.trim());
            }

          } else {
            this.errorMessage = '<li>Usuario no válido</li>';
          }
        },
        addTag(tag) {
          if (this.registro_actual.etiquetas === '') {
            this.registro_actual.etiquetas += tag;
          } else {
            this.registro_actual.etiquetas += ", " + tag;
          }
        },
        filter(filtro) {
          this.buscador = filtro;
        },
        deleteRecord(id, usuario) {

          if (confirm("¿Deseas borrar el documento?")) {

            let id_registro = _.findIndex(this.registros, function (o) { return o.id == id && o.autor.trim() == usuario.trim(); });

            if (id_registro >= 0) {
              this.registros.splice(id_registro, 1);
              //this.showAll();

              this.cleanTags();

              this.goBack();

            }
          }


        },
        upsertRecord() {

          let reg = {};
          //limpia etiquetas
          this.registro_actual.etiquetas = this.registro_actual.etiquetas.trim();
          this.registro_actual.etiquetas = this.registro_actual.etiquetas.replace(/,$/, ""); //quito la última coma si existe.

          let aux = _.split(this.registro_actual.etiquetas, ",");
          aux = _.map(aux, _.trim);
          aux = _.map(aux, _.toLower);
          aux = aux.map((e) => {
            return _.replace(e, / +/g, "-");
          });
          aux = _.uniq(aux);
          let tags = aux;
          this.registro_actual.etiquetas = tags.join(", ");


          //Comprueba campos


          if (this.registro_actual.titulo === '') {
            this.errorMessage = '<li>Titulo no puede estar vacío</li>';
          }
          if (this.registro_actual.etiquetas === '') {
            this.errorMessage += '<li>Las etiquetas no pueden estar vacias</li>';
          }
          if (myGlobal.sintomas.value() === '') {
            this.errorMessage += '<li>El campo de síntomas no puede estar vacío</li>';
          }
          if (myGlobal.procedimiento.value() === '') {
            this.errorMessage += '<li>El campo de procedimiento no puede estar vacío</li>';
          }



          if (this.errorMessage === '') {
            //Actualizo tabla tags ( sólo añade tags nuevos)
            this.tags = _.union(this.tags, tags);
            this.tags = _.sortedUniq(this.tags);
            this.tags = this.tags.sort();


            //console.log(this.tags);
            aux = "#" + aux.join(", #");
            aux = aux.trim()
            //this.registro_actual.etiquetas = aux;


            if (this.titulo_ventana === 'Crear documento') {

              // El titulo ha de ser único en la BD
              let t = this.registro_actual.titulo;
              let i = _.findIndex(this.registros, function (o) { return o.titulo == t; });

              if (i >= 0) {
                this.errorMessage += '<li>Ya existe un documento con el mismo título</li>';
              } else {
                reg.etiquetas = aux;
                reg.titulo = this.registro_actual.titulo;
                reg.incidencias = this.registro_actual.incidencias;
                reg.sintomas = myGlobal.sintomas.value();
                reg.procedimiento = myGlobal.procedimiento.value();
                reg.autor = "@" + this.usuario;
                reg.validadoPor = this.registro_actual.validadoPor;
                reg.comentarios=[];
                reg.likes=[];
                reg.createdAt = this.now();
                reg.updatedAt = this.now();


                try{
                  reg.id = _.maxBy(this.registros, 'id').id + 1;
                } catch(e) {
                  reg.id = 1;
                }
                
                this.registro_actual.id = reg.id;
                this.registros.push(reg);


                this.titulo_ventana = 'Editar documento';

                this.notificacion = 'Creado correctamente';
                setTimeout(() => {
                  this.notificacion = '';
                }, 2000);

              }

            } else {

              let id_registro = this.registro_actual.id;
              id_registro = _.findIndex(this.registros, function (o) { return o.id == id_registro; });
              this.registros[id_registro].etiquetas = aux;
              this.registros[id_registro].titulo = this.registro_actual.titulo;
              this.registros[id_registro].validadoPor = this.registro_actual.validadoPor;
              this.registros[id_registro].incidencias = this.registro_actual.incidencias;
              this.registros[id_registro].sintomas = myGlobal.sintomas.value();
              this.registros[id_registro].procedimiento = myGlobal.procedimiento.value();
              this.registros[id_registro].updatedAt = this.now();

              this.notificacion = 'Editado correctamente';
              setTimeout(() => {
                this.notificacion = '';
              }, 2000);

              this.cleanTags();

            }
          }

          this.registroHash = this.registro_actual.titulo +
            this.registro_actual.incidencias +
            this.registro_actual.validadoPor +
            this.registro_actual.etiquetas +
            myGlobal.sintomas.value() +
            myGlobal.procedimiento.value();

        },
        questionExitFromInsert() {
          if (this.titulo_ventana === 'Crear documento') {
            if (this.registro_actual.titulo !== '' ||
              this.registro_actual.etiquetas !== '' ||
              this.registro_actual.incidencias !== '' ||
              myGlobal.sintomas.value() !== '' ||
              myGlobal.procedimiento.value() !== ''
            ) {
              this.confirmacion = "¿Deseas salir sin guardar cambios?";
            } else {
              this.exitFromInsert();
            }
          }
          if (this.titulo_ventana === 'Editar documento') {
            if (this.registroHash !== this.registro_actual.titulo +
              this.registro_actual.incidencias +
              this.registro_actual.validadoPor +
              this.registro_actual.etiquetas +
              myGlobal.sintomas.value() +
              myGlobal.procedimiento.value()
            ) {
              this.confirmacion = "¿Deseas salir sin guardar cambios?";
            } else {
              this.exitFromInsert();
            }
          }
        },
        exitFromInsert() {
          this.registro_actual.titulo = '';
          this.registro_actual.etiquetas = '';
          this.registro_actual.validadoPor = '';
          this.registro_actual.incidencias = '';
          myGlobal.sintomas.value("");
          myGlobal.procedimiento.value("");
          this.confirmacion = '';
          this.buscador = '';
          this.estado = 'showAll';
          this.topScroll();
        },
        goBack(){
          this.estado = 'showAll';
        },
        showAll() {
          this.estado = '';
          this.buscador = '';
          this.comentario = '';
          this.url_required = '';          
          setTimeout(() => {
            this.estado = 'showAll';
            this.topScroll();
          }, 10);
        },
        showTags(tags) {
          tags = tags.split(", ");
          let salida = "";
          for (let i = 0; i < tags.length; i++) {

            salida += ` <a @click="alert($(tags[i]))">$(tags[i])</a>`;

          }

          return salida;

        },
        getDocument(id) {

          this.topScroll();

          let i = _.findIndex(this.registros, function (o) { return o.id == id; });

          if (i >= 0) {

            this.registro_actual.id = this.registros[i].id;
            this.registro_actual.titulo = this.registros[i].titulo;
            this.registro_actual.incidencias = this.registros[i].incidencias;
            this.registro_actual.validadoPor = this.registros[i].validadoPor;
            this.registro_actual.etiquetas = this.registros[i].etiquetas;
            this.registro_actual.sintomas = this.registros[i].sintomas;
            this.registro_actual.procedimiento = this.registros[i].procedimiento;
            this.registro_actual.autor = this.registros[i].autor;

            this.registro_actual.comentarios = [];
            for (let ii = 0; ii < this.registros[i].comentarios.length; ii++) {
              this.registro_actual.comentarios.push(this.registros[i].comentarios[ii]);
            }

            this.estado = 'showDocument';

          }

        },
        getDocumentBySlug(slug) {

          let i = 0;

          let encontrado = false;

          for (i = 0; i < this.registros.length; i++) {

            if (this.convertToSlug(this.registros[i].titulo) == slug) {
              encontrado = true;
              break;
            }

          }

          if (encontrado) {
            
            this.getDocument(this.registros[i].id);
            
          } else {

            this.showAll()

          }

        },
        editDocument(id) {

          this.topScroll();

          let i = _.findIndex(this.registros, function (o) { return o.id == id; });

          if (i >= 0) {

            this.registro_actual.id = this.registros[i].id;
            this.registro_actual.titulo = this.registros[i].titulo;
            this.registro_actual.incidencias = this.registros[i].incidencias;
            this.registro_actual.validadoPor = this.registros[i].validadoPor;
            this.registro_actual.etiquetas = this.registros[i].etiquetas.replace(/#/g, "");
            this.registro_actual.sintomas = this.registros[i].sintomas;
            this.registro_actual.procedimiento = this.registros[i].procedimiento;
            this.registro_actual.autor = this.registros[i].autor;

            myGlobal.sintomas.value(this.registro_actual.sintomas);
            myGlobal.procedimiento.value(this.registro_actual.procedimiento);
            setTimeout(() => {
              myGlobal.sintomas.codemirror.refresh();
              myGlobal.procedimiento.codemirror.refresh();
            }, 100);

            this.titulo_ventana = "Editar documento"
            this.estado = 'upsertDocument';

            this.registroHash = this.registro_actual.titulo +
              this.registro_actual.incidencias +
              this.registro_actual.validadoPor +
              this.registro_actual.etiquetas +
              myGlobal.sintomas.value() +
              myGlobal.procedimiento.value();

          } else {


            this.errorMessage += '<li>Documento no encontrado</li>';


          }


        },
        createDocument() {
          this.topScroll();

          myGlobal.sintomas.value("");
          myGlobal.procedimiento.value("");
          setTimeout(() => {
            myGlobal.sintomas.codemirror.refresh();
            myGlobal.procedimiento.codemirror.refresh();
          }, 100);

          this.registro_actual.id = -1;
          this.registro_actual.titulo = "";
          this.registro_actual.incidencias = "";
          this.registro_actual.etiquetas = "";
          this.registro_actual.validadoPor = "Sin validar";
          this.registro_actual.sintomas = "";
          this.registro_actual.procedimiento = "";
          this.titulo_ventana = "Crear documento"
          this.estado = 'upsertDocument';

        },
        topScroll() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
      }
    });
  </script>

</body>

</html>