<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Seny: Gestión documental para grupos.</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <!-- <link rel="stylesheet" href="/css/markdown.css"> -->
  <!-- <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css"> -->
  <link rel="stylesheet" href="/css/mi-markdown.css">
  <style>
    @media print {
      .no-print,
      .no-print * {
        display: none !important;
      }
    }

    .tag {
      margin: .2em;
      cursor: pointer;
    }

    /* https://www.w3schools.com/cssref/css_default_values.asp */

    .block {
      margin: 1em;
    }

    .hero {
      margin-bottom: 1em;
    }

    .invisible {
      display: none;
    }

    .card {
      margin-bottom: 1em;
    }

    .floatButton {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 20px;
      right: 20px;
      background-color: rgba(10, 50, 255, 0.9);
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      vertical-align: middle;
      box-shadow: 2px 2px 3px #999;
    }

    .notificacion {
      position: fixed;
      z-index: 1000;
      top: 40px;
      right: 40px;
    }
  </style>
</head>

<body>

  <div id="app">

    <div v-show="estado === 'login'">

      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
              <i>Seny</i>
            </h1>
            <h2 class="subtitle" style="margin-top: .1em;">
              Control de acceso
            </h2>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="columns">

          <div class="column"></div>

          <div class="column is-4">

            <div class="block">
              <div class="field">
                <label class="label">Usuario</label>
                <div class="control">
                  <input v-model="usuario" @keyup.enter="validar()" class="input" type="text" placeholder="Usuario">
                </div>
              </div>
            </div>

            <div class="block">
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input type="password" @keyup.enter="validar()" v-model="password" class="input" type="text" placeholder="Password">
                </div>
              </div>
            </div>

            <div class="block">
              <p class="control is-pulled-right">
                <a id="guardar-mensaje-btn" class="button is-info" @click="validar()">
                  Validar
                </a>
              </p>
            </div>

          </div>

          <div class="column"></div>

        </div>




      </div>
      <!-- container -->

    </div>
    <!-- Login -->

    <div v-show="estado === 'showAll'">

      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <a @click="showAll()" title="Mostrar todos los documentos">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                <i>Seny</i>
              </a>
            </h1>
            <h2 class="subtitle" style="margin-top: .1em;">
              <div class="field has-addons">
                <div class="control">
                  <input v-model="buscador" class="input" type="text" placeholder="Encontrar documento">
                </div>
                <div class="control">
                  <a class="button is-warning">
                    Buscar
                  </a>
                </div>
              </div>
            </h2>
            <a @click="logout()" title="Salir" class="is-size-7 is-pulled-right">Cerrar sesión @{{usuario}}</a>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="block" id="tablon">
          <div v-for="registro in vista" class="card">
            <header class="card-header">
              <p class="card-header-title">
                <a title="Abrir documento" @click="getDocument(registro.id)">[#{{registro.id}}] {{registro.titulo}}</a>
              </p>
              <a href="#" v-show="registro.autor.trim()=='@'+usuario.trim()" class="card-header-icon" aria-label="more options">
                <span class="icon" title="Editar documento" @click="editDocument(registro.id)">
                  <i class="fa fa-pencil is-size-4" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <span class="is-pulled-left" style="font-size: .8em;">
                  <a title="Mostrar documentos de este autor" @click="filter(registro.autor)">{{registro.autor}}</a>
                </span>
                <span class="is-pulled-right" style="font-size: .8em;">
                  <em>Creado {{moment(registro.createdAt,"YYYY-MMDD h:mm").fromNow()}}</em>
                </span>
                <br>
                <strong>
                  <em>Síntomas:</em>
                </strong>
                <br>
                <div style="margin-left: 2em;" v-html="SimpleMDE.prototype.markdown(registro.sintomas)"></div>

                <br>
                <span class="is-pulled-right" style="font-size: .8em;">
                  <em>Última actualización {{moment(registro.updatedAt,"YYYY-MMDD h:mm").fromNow()}}</em>
                </span>
                <hr>
                tags: <a @click="filter(tag)" v-for="tag in registro.etiquetas.split(', ')">{{tag}} </a>
                
                
              </div>
            </div>
            <footer class="card-footer">
              <span  class="card-footer-item"><span style="font-size: 1em; margin-right: .4em;">{{registro.likes.length}} </span> <i class="fa fa-star is-size-4" aria-hidden="true" style="color: blue;"></i></span>
              <span  class="card-footer-item"><span style="font-size: 1em; margin-right: .4em;">{{registro.comentarios.length}} </span> <i style="color: blue;" class="fa fa-commenting is-size-4" aria-hidden="true"></i></span>
            </footer>
          </div>
        </div>
        
        <div v-show="vista.length==0" class="block is-size-4">No se ha encontrado ningún documento</div>

        <a id="getDocumentos_add" class="floatButton" @click="createDocument()">
          <i class="fa fa-plus" style="margin-top: 1em; font-size: 1.3em;"></i>
        </a>

      </div>
      <!-- container -->

    </div>
    <!-- showAll -->


    <div v-show="estado === 'upsertDocument'">

      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <a @click="questionExitFromInsert()" title="Salir">
              <h1 class="title">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                <i>Seny</i>
              </h1>
            </a>
            <h2 class="subtitle" style="margin-top: .1em;">
              {{titulo_ventana}}
            </h2>
            <a @click="logout()" title="Salir" class="is-size-7 is-pulled-right">Cerrar sesión @{{usuario}}</a>
          </div>
        </div>
      </section>

      <div class="container">

        <div class="block" style="margin-top: 1em;">

          <div v-show="titulo_ventana==='Editar documento'">[#{{registro_actual.id}}]</div>
          <button v-show="titulo_ventana==='Editar documento' && registro_actual.autor.trim()=='@'+usuario.trim()" title="Borrar documento" class="delete is-pulled-right"
            @click="deleteRecord(registro_actual.id, '@'+usuario.trim())"></button>


          <div class="field">
            <label class="label">Qué soluciona este documento? *</label>
            <div class="control">
              <input v-model="registro_actual.titulo" class="input" type="text" name="titulo" id="titulo" placeholder="Nombre del documento"
                required>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="field">
            <label class="label">Tiene alguna incidencia relacionada?</label>
            <div class="control">
              <input v-model="registro_actual.incidencias" class="input" type="text" name="indicencias" id="indicencias" placeholder="Códigos de incidencias relacionadas">
            </div>
          </div>
        </div>
        <div class="block">
          <label class="label">Clasifica el documento *</label>
          <div class="box">
            <div class="field">

              <div class="control">
                <input v-model="registro_actual.etiquetas" class="input" type="text" id="etiquetas" name="etiquetas" placeholder="etiqueta1, etiqueta2"
                  required>
              </div>
            </div>

            <i>Etiquetas existentes: </i>

            <div id="etiquetero">
              <span v-for="tag in tags" class="tag is-warning" style="margin: .5em;" @click="addTag(tag)">{{tag}}</span>
            </div>


          </div>
        </div>
        <div class="block">
          <label class="label">Síntomas *</label>
          <sintomas name='sintomas'></sintomas>
        </div>
        <div class="block">
          <label class="label">Procedimiento *</label>
          <procedimiento name='procedimiento'></procedimiento>

        </div>

        <div class="block">
          <div class="level is-mobile">
            <div class="level-left">
              <p class="control">
                <a id="cancelar-mensaje-btn" class="button is-blue" @click="questionExitFromInsert()">
                  Salir
                </a>
              </p>
            </div>


            <div class="level-right">
              <p class="control">
                <a id="guardar-mensaje-btn" class="button is-info" @click="upsertRecord()">
                  Guardar
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- container -->

    </div>
    <!-- upsertDocument -->


    <div v-show="estado=='showDocument'">

      <section class="hero is-info no-print">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <a @click="goBack()" title="Volver">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                <i>Seny</i>
              </a>
            </h1>
            <h2 class="subtitle" style="margin-top: .1em;">
              Mostrar documento
            </h2>
            <a @click="logout()" title="Salir" class="is-size-7 is-pulled-right">Cerrar sesión @{{usuario}}</a>
          </div>
        </div>
      </section>

      <div class="container">



        <div id="markdown" style="margin: .5em;">



          <strong>
            <span class="is-size-4">Título: </span>
          </strong>
          [#{{registro_actual.id}}] {{registro_actual.titulo}}
          <br>
          <strong>
            <span class="is-size-4">Incidencia/s: </span>
          </strong>
          {{registro_actual.incidencias}}
          <br>
          <strong>
            <span class="is-size-4">Autor: </span>
          </strong>
          {{registro_actual.autor}}
          <br>
          <strong>
            <span class="is-size-4">Etiqueta/s: </span>
          </strong>
          {{registro_actual.etiquetas}}
          <br>
          <strong>
            <span class="is-size-4">Síntomas: </span>
          </strong>
          <div style="margin-top: .5em;" v-html="SimpleMDE.prototype.markdown(registro_actual.sintomas)"></div>
          <strong>
            <span class="is-size-4">Procedimiento: </span>
          </strong>
          <div style="margin-top: .5em;" v-html="SimpleMDE.prototype.markdown(registro_actual.procedimiento)"></div>

        </div>
        <!-- markdown -->

        <br>
        <p class="control" style="margin: .5em;">
          <a class="button is-warning no-print" @click="goBack()">
            Volver atrás
          </a>
        </p>


        <div class="block no-print">
          
          <div class="is-size-7"><strong>Compartir link:</strong> {{url.origin+url.pathname+'?doc='+convertToSlug(registro_actual.titulo.trim())}}</div>
          <hr>
          <span class="is-pulled-right" style="font-size: 1em; margin-right: .4em;">¿Te resulta útil? <a @click="insertLike()"><i class="fa fa-thumbs-up is-size-4" aria-hidden="true" style="color: blue;"></i></a></span>
          <div class="field">
            <label class="label">¿Tienes algo que decir?</label>

            <textarea class="textarea" v-model="comentario" placeholder="Escribe tu comentario"></textarea>

          </div>
          <p v-show="comentario.trim()!=''" class="control is-pulled-right" style="margin: .5em;">
            <a class="button is-info no-print" @click="insertComment()">
              Enviar comentario
            </a>

          </p>

          <br>
          <br>

          <div v-show="registro_actual.comentarios.length>0" class="is-size-4">COMENTARIOS</div>

          <div v-for="comentario in registro_actual.comentarios" class="notification no-print is-blue" style="margin: 1em; ">
            <button v-show="'@'+usuario == comentario.autor" class="delete" @click="deleteComment(comentario.id)"></button>
            <p class="is-size-7">de <strong>{{comentario.autor}}</strong> {{moment(comentario.createdAt,"YYYY-MMDD h:mm").fromNow()}}</p>
            {{comentario.mensaje}}
          </div>

        </div>



      </div>
      <!-- container -->

    </div>
    <!-- showDocument -->

    <!-- modales -->

    <div v-if="errorMessage!==''" class="modal is-active" id="msgBox" @click="errorMessage=''">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Error</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div style="margin-left: 2em;" v-html="errorMessage"></div>
        </section>
      </div>
    </div>

    <div v-if="notificacion!==''" class="notification notificacion is-link">
      <!-- <button class="delete"></button> -->
      <div v-html="notificacion"></div>
    </div>

    <div v-if="confirmacion!==''" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Ventana de confirmación</p>
          <button class="delete" aria-label="close" @click="confirmacion=''"></button>
        </header>
        <section class="modal-card-body">
          <div v-html="confirmacion"></div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" @click="exitFromInsert()">Salir</button>
          <button class="button" @click="confirmacion=''">Cancelar</button>
        </footer>
      </div>
    </div>

    <!-- fin-modales -->



  </div>
  <!-- app -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/es.js"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  
  <script>

    moment.locale('es');
    
    let myGlobal = {};
    Vue.component('sintomas', {
      template: `<textarea id="sintomas" cols="30" rows="10" required placeholder='Cuándo lo hago?'></textarea>`,
      props: ['name'],
      mounted() {
        myGlobal[this.name] = new SimpleMDE({ element: document.getElementById('sintomas'), spellChecker: false });
      }
    });
    Vue.component('procedimiento', {
      template: `<textarea id='procedimiento' cols='30' rows='10' required placeholder='Cómo lo hago?'></textarea>"`,
      props: ['name'],
      mounted() {
        myGlobal[this.name] = new SimpleMDE({ element: document.getElementById(this.name), spellChecker: false });
      }
    });
    // estados: [showAll|upsertDocument|showDocument|login]
    let App = new Vue({
      el: '#app',
      data: {
        estado: 'showAll',
        errorMessage: '',
        notificacion: '',
        confirmacion: '',
        titulo_ventana: '',
        registroHash: '',
        buscador: '',
        usuario: '',
        password: '',
        comentario: '',
        url_required: '',
        url: {},
        registro_actual: {
          id: -1,
          titulo: '',
          incidencias: '',
          etiquetas: '',
          sintomas: '',
          procedimiento: '',
          comentarios: [],
          autor: ''
        },
        tags: ["mga", "silo", "recepcion", "otro", "ay"],
        registros: [
        {
          "id": 1000,
          "incidencias": "7f9b0a86-2abb-4de3-be8e-d14430e1f85d",
          "sintomas": "Debitis neque natus. Repellendus odio modi voluptates ex aut numquam. Qui placeat modi doloremque est hic vitae est et. Id voluptatem repellendus et animi sunt veniam officia reiciendis ut. Ab provident in totam sequi sed. Perspiciatis repudiandae nisi delectus maiores facilis vel.<li>Omnis accusantium amet voluptatem qui nesciunt.</li><li>Fugit dolores sed et corrupti.</li>",
          "procedimiento": "<p>Vel culpa maiores. Delectus voluptatem qui dolor provident autem repudiandae modi facilis. Aut atque dolorem molestias qui. Fuga voluptatum labore ut neque et maiores sit natus. Rerum nemo corporis error aspernatur.</p><p><pre>Et nesciunt voluptatum maiores quo a facilis quae cum.\nDolores recusandae esse.</pre></p>",
          "titulo": "Eum aliquam dolores dolor.",
          "etiquetas": "#et, #aut",
          "autor": "@Jillian_Cormier",
          "likes": ["@Gonzalo_Wunsch47","@Dell5","@Irving.Donnelly56"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Fidel_Cassin81",
              "mensaje": "Velit enim iusto distinctio soluta modi sed ducimus adipisci. Explicabo debitis enim sit accusantium. Totam suscipit cumque. Ut non et qui.",
              "createdAt": "2017-10-18 00:23"
            },
            {
              "id": 2,
              "autor": "@Ramon9",
              "mensaje": "Ut enim exercitationem est corporis eaque voluptatum voluptas. Nulla qui qui nostrum asperiores adipisci ea aut. Quam odio quo.",
              "createdAt": "2017-09-27 00:01"
            }
          ],
          "createdAt": "2018-01-05 19:17",
          "updatedAt": "2017-11-19 00:50"
          },{
          "id": 1001,
          "incidencias": "27a5c713-f3e4-4dc3-9497-9d631ebf5908",
          "sintomas": "Et doloribus consequatur. Natus esse fuga aut velit architecto rerum. Saepe inventore voluptatem officiis. Inventore similique quas commodi voluptatem. Adipisci adipisci iusto eos ut alias cupiditate est voluptas assumenda. Laboriosam qui qui.<li>Eum et nihil consectetur mollitia quis qui.</li><li>Impedit ex odit aliquam eligendi.</li>",
          "procedimiento": "<p>Et aspernatur et facilis praesentium ea quasi eveniet voluptatem quis. Ut labore ea omnis similique corrupti dolorem quod accusantium. Commodi quisquam vel sit asperiores temporibus eum. In sint quisquam pariatur et vitae est rem molestias.</p><p><pre>Eligendi inventore qui sit autem.\nDolorum enim voluptatum omnis veniam beatae provident.</pre></p>",
          "titulo": "Numquam officia aspernatur ipsum nemo enim.",
          "etiquetas": "#occaecati, #suscipit",
          "autor": "@Wendell_Glover92",
          "likes": ["@Serenity_Lebsack96","@Giovanny_Robel43","@Norbert_Bernhard"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Hillary.Stokes93",
              "mensaje": "Et pariatur illo iure qui non sed. Vitae quos maxime nam. Deserunt et sint voluptatibus.",
              "createdAt": "2017-07-09 16:36"
            },
            {
              "id": 2,
              "autor": "@Vanessa_Frami",
              "mensaje": "Cumque molestiae ab architecto molestias a dolor voluptatem odio autem. Officiis deserunt optio qui et corrupti voluptas dolorum omnis repudiandae. Culpa et perspiciatis et.",
              "createdAt": "2017-08-11 00:02"
            }
          ],
          "createdAt": "2017-09-30 16:35",
          "updatedAt": "2017-08-20 12:26"
          },{
          "id": 1002,
          "incidencias": "dba9cbbc-5c3e-402b-9923-1e736439f59c",
          "sintomas": "Vel quia aut fuga eius. Modi maiores rerum non molestias vero explicabo debitis odio illum. Beatae ipsum aut id asperiores dignissimos quod ut.<li>Eaque reprehenderit magni.</li><li>Tenetur amet sunt blanditiis nobis esse quis.</li>",
          "procedimiento": "<p>In et non sed. Dolores voluptatum neque dicta. Quisquam dignissimos minus quis et sint laboriosam asperiores.</p><p><pre>Velit omnis nihil molestiae qui saepe.\nVoluptatem optio modi omnis et reprehenderit delectus vero eum.</pre></p>",
          "titulo": "Voluptatem recusandae eos culpa dolor sit dolore suscipit.",
          "etiquetas": "#mollitia, #sint",
          "autor": "@Ophelia_McClure",
          "likes": ["@Catalina.Cruickshank","@Jeramy6","@Larue.Krajcik13"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Chaya40",
              "mensaje": "Illo ut possimus quos. Consequatur neque dignissimos et est et et. Aut voluptatibus et.",
              "createdAt": "2017-12-29 11:50"
            },
            {
              "id": 2,
              "autor": "@Felicita_Kris",
              "mensaje": "Sit molestiae laboriosam tempore a totam. Eius odio sapiente voluptatem praesentium nihil eligendi. Officiis et mollitia et harum. Quaerat ex quia voluptas exercitationem qui molestiae.",
              "createdAt": "2017-10-13 13:15"
            }
          ],
          "createdAt": "2017-11-06 14:06",
          "updatedAt": "2017-02-28 15:56"
          },{
          "id": 1003,
          "incidencias": "da8d3ed9-1344-43ff-babe-934c3a83fd9c",
          "sintomas": "Autem neque quis aut omnis alias. Omnis aliquid odit quia in doloremque amet architecto dolorum molestias. Delectus eveniet explicabo consequatur et vel voluptas. Vel aspernatur voluptas aut velit iure est at sint.<li>Alias in voluptas debitis deserunt quas.</li><li>Nesciunt ut aut molestiae repudiandae quidem.</li>",
          "procedimiento": "<p>Est vitae reiciendis ullam enim dignissimos omnis. Qui a esse consequatur aliquam dolor possimus quo laborum sed. Et veniam porro qui facere et quia consequuntur doloremque. Est explicabo laudantium minima mollitia ab et eum inventore.</p><p><pre>Expedita et omnis.\nVeritatis alias doloremque aut dolorem nihil quam consequatur saepe.</pre></p>",
          "titulo": "Similique asperiores provident enim mollitia possimus enim earum eveniet eaque.",
          "etiquetas": "#voluptatem, #enim",
          "autor": "@Leif51",
          "likes": ["@Chauncey_Kertzmann","@Chasity_Gutkowski","@Carissa_McGlynn75"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Freida_Kuhlman66",
              "mensaje": "Beatae facere cumque. Excepturi vitae vel vitae voluptate. Voluptas eos suscipit voluptate voluptatem tempore. Ut nam nihil voluptas perspiciatis repudiandae enim. Voluptas harum inventore omnis rerum fuga dolor eos qui dignissimos. Architecto nisi ut vel quos commodi et.",
              "createdAt": "2017-09-15 22:03"
            },
            {
              "id": 2,
              "autor": "@Rebekah65",
              "mensaje": "Beatae ipsam fuga dolor voluptas sint vel et et est. Rerum cupiditate aliquam quaerat vero. Libero praesentium officia iste odit.",
              "createdAt": "2017-06-06 02:06"
            }
          ],
          "createdAt": "2017-04-04 12:49",
          "updatedAt": "2017-12-29 02:39"
          },{
          "id": 1004,
          "incidencias": "636029d7-0b61-4647-9438-a2bd939d7d23",
          "sintomas": "Sunt eaque dignissimos consequuntur est quidem aut consequuntur quo corporis. Qui ut voluptas. Libero nobis cumque aut minus dicta nisi id totam sint. Dignissimos exercitationem doloremque et illum beatae. Id sed deleniti ut error eveniet dicta.<li>Voluptate ut unde assumenda laborum labore quas delectus mollitia.</li><li>Nobis modi qui veritatis ullam unde.</li>",
          "procedimiento": "<p>Enim repellendus deserunt repellat rem nisi rerum doloribus. Ut ea quo dolores. Quas sed et numquam. Aut voluptas ea aut hic illo aliquam. Pariatur magni tempora. Voluptatem fugit ipsa ad necessitatibus voluptatum.</p><p><pre>Assumenda nam molestias.\nVel occaecati optio et tempora rerum et.</pre></p>",
          "titulo": "Eos itaque et delectus.",
          "etiquetas": "#non, #ipsam",
          "autor": "@Maddison41",
          "likes": ["@Sam.Considine60","@Olga_Jenkins2","@Darrell_Stroman52"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Dewitt28",
              "mensaje": "Eum omnis minima delectus et modi maiores eaque non non. Sint ad et et laboriosam commodi facere autem. Temporibus in debitis aperiam qui dignissimos ut sit. Beatae perferendis ducimus eum. Vitae inventore vel repellat incidunt ratione quam id et numquam.",
              "createdAt": "2017-09-17 18:39"
            },
            {
              "id": 2,
              "autor": "@Jeramie.Stoltenberg",
              "mensaje": "Laudantium ea eum vero ab sed nesciunt. Labore quo id enim corporis nemo maxime quis consequatur iste. Incidunt excepturi quam est omnis adipisci eum dignissimos omnis. Omnis doloremque tempora. Cumque tempora officiis at facere neque.",
              "createdAt": "2017-08-29 17:40"
            }
          ],
          "createdAt": "2017-10-28 04:49",
          "updatedAt": "2017-12-23 12:39"
          },{
          "id": 1005,
          "incidencias": "a5e1cc3d-7a8c-47c2-83b4-67097234ce30",
          "sintomas": "Non aperiam consequuntur aut maiores rem dolorem voluptas illo. Porro rem fugit veritatis quo. At dicta hic. Tempora dolor amet. Deserunt et veritatis veniam asperiores nihil. Officiis non ut omnis.<li>Voluptatem odit itaque fugit eius.</li><li>Omnis et numquam consequuntur rem.</li>",
          "procedimiento": "<p>Ad laboriosam necessitatibus quasi placeat possimus qui animi quaerat rerum. Maxime quia rerum similique praesentium. Provident officiis id delectus impedit veritatis suscipit.</p><p><pre>Alias et voluptatibus.\nOfficiis nisi fugiat.</pre></p>",
          "titulo": "Deserunt quos neque dolorem fuga dolorem.",
          "etiquetas": "#possimus, #ut",
          "autor": "@Sharon.Turner21",
          "likes": ["@Keagan.Cartwright13","@Pablo51","@Ressie12"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Gwen_Williamson",
              "mensaje": "Impedit iure delectus modi est. Enim ut et inventore. Sit et sint deserunt et possimus aut ut saepe. Vero libero commodi. Eos omnis ipsum adipisci provident consequuntur et sunt voluptatem. Et totam laudantium.",
              "createdAt": "2017-12-27 14:20"
            },
            {
              "id": 2,
              "autor": "@Misty20",
              "mensaje": "Amet tempora qui voluptate. Sunt eaque recusandae. Molestias porro nobis hic et tenetur. Impedit ipsa delectus eveniet rerum excepturi animi. Sint quia voluptas distinctio quis.",
              "createdAt": "2017-10-05 16:12"
            }
          ],
          "createdAt": "2017-03-04 13:54",
          "updatedAt": "2017-08-18 02:29"
          },{
          "id": 1006,
          "incidencias": "3df12fe7-a9cc-45fd-abc7-b3514d0b711e",
          "sintomas": "Omnis qui distinctio aut quibusdam dolorem. In est ducimus. Sed ut enim est omnis non sit quibusdam et. Autem aliquid magni quod nesciunt aut amet. Repellendus totam eveniet rerum mollitia non non rem possimus.<li>Dolores aperiam sit pariatur voluptatem voluptatem quasi.</li><li>Quia et aut quasi.</li>",
          "procedimiento": "<p>Nihil earum dolor porro mollitia similique vel. Ut et commodi ut. Cum consequuntur iusto nemo nobis.</p><p><pre>Molestias nulla eaque doloribus nesciunt nemo.\nPerferendis non perspiciatis eius qui.</pre></p>",
          "titulo": "Nam optio cupiditate non dolores unde ipsum ut eligendi.",
          "etiquetas": "#iusto, #qui",
          "autor": "@Jannie.Homenick",
          "likes": ["@Lexie.Wintheiser66","@Brittany_Turcotte","@Rogelio53"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Jodie3",
              "mensaje": "Voluptatum quia velit voluptatem qui culpa voluptatem quae nobis in. Ipsam eum consequuntur suscipit porro. Minima ducimus ut et cum minus minima.",
              "createdAt": "2017-04-20 03:04"
            },
            {
              "id": 2,
              "autor": "@Reese.Smitham",
              "mensaje": "Et libero natus cum officiis distinctio delectus. Molestiae illo et et. Aut qui non distinctio nesciunt consequuntur veniam dolorem et. Architecto quo sit. Eaque ea ex aspernatur.",
              "createdAt": "2018-01-01 06:03"
            }
          ],
          "createdAt": "2017-07-29 05:54",
          "updatedAt": "2017-06-07 01:01"
          },{
          "id": 1007,
          "incidencias": "67df6d5e-7062-4237-b8af-181fff806c83",
          "sintomas": "Culpa autem quas voluptatem animi non enim ut. Aut dolor et voluptatem quae doloribus perferendis quam molestiae et. Quia omnis officia voluptas sit.<li>Fuga in nihil culpa.</li><li>Voluptatem possimus dolores voluptas minus.</li>",
          "procedimiento": "<p>Odit molestiae quia voluptas sit itaque dolores iusto et officia. Id porro est. Saepe et quia sed atque consequatur ex et.</p><p><pre>Ipsa ullam dolores est quis sint eaque error provident.\nVoluptas sint quisquam odio voluptates voluptas officiis magnam expedita.</pre></p>",
          "titulo": "Possimus molestiae suscipit delectus distinctio.",
          "etiquetas": "#nostrum, #et",
          "autor": "@Monique23",
          "likes": ["@Julie_Welch13","@Hollie43","@Raymundo25"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Kaela.Barrows69",
              "mensaje": "Eius aut expedita sunt. Rerum rerum corrupti sed. Libero culpa enim. Fuga est deserunt qui voluptas harum ab.",
              "createdAt": "2017-08-09 03:38"
            },
            {
              "id": 2,
              "autor": "@Maeve_Jacobi",
              "mensaje": "Possimus amet ab architecto dignissimos sit rerum quo. Repellendus consequatur explicabo et. Ea porro est et quia aperiam id tempora officia.",
              "createdAt": "2017-10-24 22:08"
            }
          ],
          "createdAt": "2017-06-24 05:09",
          "updatedAt": "2017-09-13 06:37"
          },{
          "id": 1008,
          "incidencias": "cea30b30-acb8-4547-bf56-cc6ab453cbe3",
          "sintomas": "Sed officia harum occaecati et commodi. Nobis rem reiciendis soluta non dignissimos illum. Et reiciendis amet qui atque quaerat ut qui ab.<li>Quo eum reprehenderit libero officia ut natus.</li><li>Ullam blanditiis provident.</li>",
          "procedimiento": "<p>Qui est enim minus cum officia expedita delectus ipsum. Vero est qui ducimus inventore ex labore soluta suscipit ipsam. Iusto et possimus. Excepturi est dolores id saepe aliquid vel velit velit. Consequuntur rerum quaerat quia corrupti facere optio.</p><p><pre>Ut distinctio excepturi et.\nQuasi praesentium ut aliquam eius sunt iste corrupti facere.</pre></p>",
          "titulo": "Ut dolorum quis.",
          "etiquetas": "#aut, #ut",
          "autor": "@Naomi_Hudson",
          "likes": ["@Jaylan_Block2","@Hank.Powlowski","@Caterina.Torp69"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Ofelia30",
              "mensaje": "Aut ea modi amet dolores et quidem. Sapiente aut deleniti ipsa et. Quia eligendi accusamus fuga cupiditate voluptatem occaecati. Fuga amet et sit dolorem eos iusto sapiente aut. Odio eligendi totam id quam laborum unde accusantium error. Voluptatem est eveniet.",
              "createdAt": "2017-08-26 18:08"
            },
            {
              "id": 2,
              "autor": "@Kenyon.OReilly",
              "mensaje": "Deleniti consequatur doloremque quis aperiam ducimus. Asperiores nesciunt ipsam dolorem. Numquam libero et omnis aut eveniet dolor non. Delectus id et quaerat inventore quaerat tempora exercitationem aut. Voluptas consequatur quisquam sit sunt et omnis.",
              "createdAt": "2017-06-03 19:06"
            }
          ],
          "createdAt": "2017-10-27 17:39",
          "updatedAt": "2018-01-05 13:55"
          },{
          "id": 1009,
          "incidencias": "fd0c2e26-a603-4511-b22b-0e159338f3dc",
          "sintomas": "Dolorum sed labore fugit non eius iure quod. Iure perferendis facilis vitae. Id voluptatem libero recusandae neque in id occaecati enim. Recusandae voluptas sed non doloremque. Aut voluptate sed sunt optio quas ratione quam quibusdam quo.<li>Doloribus ipsa beatae.</li><li>Similique similique illo pariatur quidem harum voluptas nam nesciunt nam.</li>",
          "procedimiento": "<p>Dolores soluta suscipit maxime voluptatum qui cumque cum sed. Provident qui non adipisci quis ea distinctio similique.</p><p><pre>Porro quas sapiente eos asperiores vero voluptate asperiores quos magnam.\nOccaecati at deserunt ut et qui.</pre></p>",
          "titulo": "Sit est vero molestiae assumenda aut.",
          "etiquetas": "#omnis, #et",
          "autor": "@Imogene_Kassulke",
          "likes": ["@Garnet66","@Kaleigh.Christiansen60","@Ivah_Tromp"],
          "comentarios": [
            {
              "id": 1,
              "autor": "@Wilburn10",
              "mensaje": "Odit sed et qui nihil fugit nostrum sint sit odio. Vel laborum ex. Voluptate quia officiis similique et minus et. Est dolor asperiores. Atque ratione itaque ipsum sit non omnis.",
              "createdAt": "2018-01-02 01:46"
            },
            {
              "id": 2,
              "autor": "@Woodrow_Legros",
              "mensaje": "Illo fugiat ea possimus debitis. Et dolores recusandae. Enim quaerat minima aperiam possimus.",
              "createdAt": "2017-09-24 07:31"
            }
          ],
          "createdAt": "2017-06-09 08:59",
          "updatedAt": "2017-02-21 03:42"
          }
        ]
      },
      mounted() {
        this.tags = this.tags.sort();

        if (this.password !== this.usuario || this.password === '') {
          this.estado = 'login';
        }

        let url = new URL(window.location.href);
        this.url = url;
        if (url.search.trim().startsWith("?doc=")) {
          url = url.search.trim();
          url = url.substr(5, url.length - 5);
          this.url_required = url;
        } else {
          this.url_required = "";
        }     
        
        this.cleanTags();

         

      },
      computed: {
        vista: function () {
          //Trabajar más el buscador.
          if (this.buscador !== '') {

            let busca = this.buscador;
            busca = busca.toLowerCase().trim().split(" ");


            let filtro = _.filter(this.registros, function (o) {

              //return o.titulo.toLowerCase().includes(busca.toLowerCase());
              //return ''.concat(o.id,o.titulo,o.autor,o.etiquetas,o.incidencias,o.sintomas,o.procedimiento).toLowerCase().includes(busca.toLowerCase());

              let chivato = busca.length;

              for (let i = 0; i < busca.length; i++) {

                if (''.concat('#' + o.id, o.titulo, o.autor, o.etiquetas, o.incidencias, o.sintomas, o.procedimiento).toLowerCase().includes(busca[i])) chivato--;

              }

              return chivato === 0;


            });

            return _.orderBy(filtro, ['id'], ['desc']);

          } else {

            return _.orderBy(this.registros, ['id'], ['desc']);

          }
        }
      },
      methods: {
        insertLike(doc){

          let x = this.registro_actual.id;

          let i = _.findIndex(this.registros, function (o) { return o.id == x; });

          this.registros[i].likes.push('@'+this.usuario);
          this.registros[i].likes=_.uniq(this.registros[i].likes).sort().slice();

          this.notificacion = 'Gracias por el Like ;)';
          setTimeout(() => {
            this.notificacion = '';
          }, 2000);

        },        
        convertToSlug(text) {

          let Text = text.toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, '-');

          Text = Text.replace(new RegExp(/[àáâãäå]/g), "a");
          Text = Text.replace(new RegExp(/[èéêë]/g), "e");
          Text = Text.replace(new RegExp(/[ìíîï]/g), "i");
          Text = Text.replace(new RegExp(/ñ/g), "ny");
          Text = Text.replace(new RegExp(/[òóôõö]/g), "o");
          Text = Text.replace(new RegExp(/[ùúûü]/g), "u");

          return Text;

        },
        cleanTags(){
          let resultado = [];
          for (let i=0; i<this.registros.length; i++) {   
            let arr = this.registros[i].etiquetas.replace(/#/g,"").split(",");
            for (ii=0;ii<arr.length;ii++) resultado.push(arr[ii].trim());            
          }
          //console.log(());
          this.tags=_.uniq(resultado).sort().slice();
          //for (i=0; i<resultado.length; i++) this.tags.push(resultado[i].trim());

          // this.notificacion = 'Gracias por comentar';
          // setTimeout(() => {
          //   this.notificacion = '';
          // }, 2000);
        },
        insertComment() {

          let x = this.registro_actual.id;

          let i = _.findIndex(this.registros, function (o) { return o.id == x; });


          let myComentario = {};

          try {
            myComentario.id = _.maxBy(this.registros[i].comentarios, 'id').id;
          } catch (e) {
            myComentario.id = 0;
          }

          myComentario.id++;


          myComentario.mensaje = this.comentario;
          myComentario.createdAt = this.now();
          myComentario.autor = '@' + this.usuario;


          this.registros[i].comentarios.push(myComentario);
          this.registro_actual.comentarios.push(myComentario);

          this.comentario = "";

          this.notificacion = 'Gracias por comentar';
          setTimeout(() => {
            this.notificacion = '';
          }, 2000);


        },
        deleteComment(id) {

          if (confirm("¿Deseas borrar el comentario?")) {

            let x = this.registro_actual.id;

            let i = _.findIndex(this.registros, function (o) { return o.id == x; });

            x = _.findIndex(this.registros[i].comentarios, function (o) { return o.id == id; });

            this.registros[i].comentarios.splice(x, 1);

            this.registro_actual.comentarios.splice(x, 1);

          }

        },
        now() {
          return moment().format().substr(0, 19).replace("T", " ");
        },
        logout() {
          this.usuario = "";
          this.password = "";
          this.estado = "login";
        },
        validar() {
          if (this.password === this.usuario && this.password !== '') {
            if (this.url_required == "") {
              //this.estado = 'showAll';
              this.showAll();
            } else {
              //alert("quiere ir a " + this.url_required);
              this.getDocumentBySlug(this.url_required.trim());
            }

          } else {
            this.errorMessage = '<li>Usuario no válido</li>';
          }
        },
        addTag(tag) {
          if (this.registro_actual.etiquetas === '') {
            this.registro_actual.etiquetas += tag;
          } else {
            this.registro_actual.etiquetas += ", " + tag;
          }
        },
        filter(filtro) {
          this.buscador = filtro;
        },
        deleteRecord(id, usuario) {

          if (confirm("¿Deseas borrar el documento?")) {

            let id_registro = _.findIndex(this.registros, function (o) { return o.id == id && o.autor.trim() == usuario.trim(); });

            if (id_registro >= 0) {
              this.registros.splice(id_registro, 1);
              //this.showAll();

              this.cleanTags();

              this.goBack();

            }
          }


        },
        upsertRecord() {

          let reg = {};
          //limpia etiquetas
          this.registro_actual.etiquetas = this.registro_actual.etiquetas.trim();
          this.registro_actual.etiquetas = this.registro_actual.etiquetas.replace(/,$/, ""); //quito la última coma si existe.

          let aux = _.split(this.registro_actual.etiquetas, ",");
          aux = _.map(aux, _.trim);
          aux = _.map(aux, _.toLower);
          aux = aux.map((e) => {
            return _.replace(e, / +/g, "-");
          });
          aux = _.uniq(aux);
          let tags = aux;
          this.registro_actual.etiquetas = tags.join(", ");


          //Comprueba campos


          if (this.registro_actual.titulo === '') {
            this.errorMessage = '<li>Titulo no puede estar vacío</li>';
          }
          if (this.registro_actual.etiquetas === '') {
            this.errorMessage += '<li>Las etiquetas no pueden estar vacias</li>';
          }
          if (myGlobal.sintomas.value() === '') {
            this.errorMessage += '<li>El campo de síntomas no puede estar vacío</li>';
          }
          if (myGlobal.procedimiento.value() === '') {
            this.errorMessage += '<li>El campo de procedimiento no puede estar vacío</li>';
          }



          if (this.errorMessage === '') {
            //Actualizo tabla tags ( sólo añade tags nuevos)
            this.tags = _.union(this.tags, tags);
            this.tags = _.sortedUniq(this.tags);
            this.tags = this.tags.sort();


            //console.log(this.tags);
            aux = "#" + aux.join(", #");
            aux = aux.trim()
            //this.registro_actual.etiquetas = aux;


            if (this.titulo_ventana === 'Crear documento') {

              // El titulo ha de ser único en la BD
              let t = this.registro_actual.titulo;
              let i = _.findIndex(this.registros, function (o) { return o.titulo == t; });

              if (i >= 0) {
                this.errorMessage += '<li>Ya existe un documento con el mismo título</li>';
              } else {
                reg.etiquetas = aux;
                reg.titulo = this.registro_actual.titulo;
                reg.incidencias = this.registro_actual.incidencias;
                reg.sintomas = myGlobal.sintomas.value();
                reg.procedimiento = myGlobal.procedimiento.value();
                reg.autor = "@" + this.usuario;
                reg.comentarios=[];
                reg.likes=[];
                reg.createdAt = this.now();
                reg.updatedAt = this.now();


                reg.id = _.maxBy(this.registros, 'id').id + 1;
                this.registro_actual.id = reg.id;
                this.registros.push(reg);


                this.titulo_ventana = 'Editar documento';

                this.notificacion = 'Creado correctamente';
                setTimeout(() => {
                  this.notificacion = '';
                }, 2000);

              }

            } else {

              let id_registro = this.registro_actual.id;
              id_registro = _.findIndex(this.registros, function (o) { return o.id == id_registro; });
              this.registros[id_registro].etiquetas = aux;
              this.registros[id_registro].titulo = this.registro_actual.titulo;
              this.registros[id_registro].incidencias = this.registro_actual.incidencias;
              this.registros[id_registro].sintomas = myGlobal.sintomas.value();
              this.registros[id_registro].procedimiento = myGlobal.procedimiento.value();
              this.registros[id_registro].updatedAt = this.now();

              this.notificacion = 'Editado correctamente';
              setTimeout(() => {
                this.notificacion = '';
              }, 2000);

              this.cleanTags();

            }
          }

          this.registroHash = this.registro_actual.titulo +
            this.registro_actual.incidencias +
            this.registro_actual.etiquetas +
            myGlobal.sintomas.value() +
            myGlobal.procedimiento.value();

        },
        questionExitFromInsert() {
          if (this.titulo_ventana === 'Crear documento') {
            if (this.registro_actual.titulo !== '' ||
              this.registro_actual.etiquetas !== '' ||
              this.registro_actual.incidencias !== '' ||
              myGlobal.sintomas.value() !== '' ||
              myGlobal.procedimiento.value() !== ''
            ) {
              this.confirmacion = "¿Deseas salir sin guardar cambios?";
            } else {
              this.exitFromInsert();
            }
          }
          if (this.titulo_ventana === 'Editar documento') {
            if (this.registroHash !== this.registro_actual.titulo +
              this.registro_actual.incidencias +
              this.registro_actual.etiquetas +
              myGlobal.sintomas.value() +
              myGlobal.procedimiento.value()
            ) {
              this.confirmacion = "¿Deseas salir sin guardar cambios?";
            } else {
              this.exitFromInsert();
            }
          }
        },
        exitFromInsert() {
          this.registro_actual.titulo = '';
          this.registro_actual.etiquetas = '';
          this.registro_actual.incidencias = '';
          myGlobal.sintomas.value("");
          myGlobal.procedimiento.value("");
          this.confirmacion = '';
          this.buscador = '';
          this.estado = 'showAll';
          this.topScroll();
        },
        goBack(){
          this.estado = 'showAll';
        },
        showAll() {
          this.estado = '';
          this.buscador = '';
          this.comentario = '';
          this.url_required = '';          
          setTimeout(() => {
            this.estado = 'showAll';
            this.topScroll();
          }, 10);
        },
        showTags(tags) {
          tags = tags.split(", ");
          let salida = "";
          for (let i = 0; i < tags.length; i++) {

            salida += ` <a @click="alert($(tags[i]))">$(tags[i])</a>`;

          }

          return salida;

        },
        getDocument(id) {

          this.topScroll();

          let i = _.findIndex(this.registros, function (o) { return o.id == id; });

          if (i >= 0) {

            this.registro_actual.id = this.registros[i].id;
            this.registro_actual.titulo = this.registros[i].titulo;
            this.registro_actual.incidencias = this.registros[i].incidencias;
            this.registro_actual.etiquetas = this.registros[i].etiquetas;
            this.registro_actual.sintomas = this.registros[i].sintomas;
            this.registro_actual.procedimiento = this.registros[i].procedimiento;
            this.registro_actual.autor = this.registros[i].autor;

            this.registro_actual.comentarios = [];
            for (let ii = 0; ii < this.registros[i].comentarios.length; ii++) {
              this.registro_actual.comentarios.push(this.registros[i].comentarios[ii]);
            }

            this.estado = 'showDocument';

          }

        },
        getDocumentBySlug(slug) {

          let i = 0;

          let encontrado = false;

          for (i = 0; i < this.registros.length; i++) {

            if (this.convertToSlug(this.registros[i].titulo) == slug) {
              encontrado = true;
              break;
            }

          }

          if (encontrado) {
            
            this.getDocument(this.registros[i].id);
            
          } else {

            this.showAll()

          }

        },
        editDocument(id) {

          this.topScroll();

          let i = _.findIndex(this.registros, function (o) { return o.id == id; });

          if (i >= 0) {

            this.registro_actual.id = this.registros[i].id;
            this.registro_actual.titulo = this.registros[i].titulo;
            this.registro_actual.incidencias = this.registros[i].incidencias;
            this.registro_actual.etiquetas = this.registros[i].etiquetas.replace(/#/g, "");
            this.registro_actual.sintomas = this.registros[i].sintomas;
            this.registro_actual.procedimiento = this.registros[i].procedimiento;
            this.registro_actual.autor = this.registros[i].autor;

            myGlobal.sintomas.value(this.registro_actual.sintomas);
            myGlobal.procedimiento.value(this.registro_actual.procedimiento);
            setTimeout(() => {
              myGlobal.sintomas.codemirror.refresh();
              myGlobal.procedimiento.codemirror.refresh();
            }, 100);

            this.titulo_ventana = "Editar documento"
            this.estado = 'upsertDocument';

            this.registroHash = this.registro_actual.titulo +
              this.registro_actual.incidencias +
              this.registro_actual.etiquetas +
              myGlobal.sintomas.value() +
              myGlobal.procedimiento.value();

          } else {


            this.errorMessage += '<li>Documento no encontrado</li>';


          }


        },
        createDocument() {
          this.topScroll();

          myGlobal.sintomas.value("");
          myGlobal.procedimiento.value("");
          setTimeout(() => {
            myGlobal.sintomas.codemirror.refresh();
            myGlobal.procedimiento.codemirror.refresh();
          }, 100);

          this.registro_actual.id = -1;
          this.registro_actual.titulo = "";
          this.registro_actual.incidencias = "";
          this.registro_actual.etiquetas = "";
          this.registro_actual.sintomas = "";
          this.registro_actual.procedimiento = "";
          this.titulo_ventana = "Crear documento"
          this.estado = 'upsertDocument';

        },
        topScroll() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
      }
    });
  </script>

</body>

</html>